@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

.header {
  display: flex;
  padding: 32px;
  align-items: center;
  width: 1082px;
  position: relative;
  border-bottom: 1px solid #ddd;

  &__logo {
    width: calc(250px - 64px);
    margin-right: 64px;
  }

  &__text {
    font-size: 20px;
    font-weight: 900;
  }

  &__user {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
  }

  &__welcome {
    text-align: right;
    margin-right: 16px;

    strong {
      font-size: 20px;
    }
  }

  &__image {
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 16px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    border: 1px solid #000;
  }
}

.details {
  display: flex;
  gap: 32px;
  margin-top: 32px;

  &__left {
    width: 250px;
  }

  &__title {
    font-size: 28px;
    margin-bottom: 64px;
  }

  &__subtitle {
    font-size: 24px;
    margin-bottom: 16px;
  }

  &__buttons {
    display: flex;
    justify-content: end;
    gap: 8px;
  }

  &__button {
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    color: #fff;
    border-radius: 4px;

    &:first-child {
      background: rgba(240, 11, 49, 0.965);
    }

    &:last-child {
      background: green;
    }
  }
}

.menu {
  &__item {
    &:hover {
      .menu__link {
        color: green;
        background: #eee;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 10px;
          height: 100%;
          background: green;
        }
      }
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    border: 1px solid #000;
    margin-right: 24px;
  }

  &__link {
    position: relative;
    width: calc(250px - 64px);
    height: 64px;
    display: block;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    font-size: 18px;
    text-decoration: none;
  }
}

.consumer {
  background: #eee;
  margin: 32px;
  padding: 4px 8px;
  border-radius: 6px;
  border: 1px solid #ddd;

  &__button {
    background: none;
    border: none;
    display: block;
    margin-left: auto;
    margin-bottom: 4px;
  }

  &__text,
  &__cheering,
  &__notice {
    text-align: center;
  }

  &__text {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 4px;
  }

  &__cheering,
  &__notice {
    font-size: 15px;
    color: #555;
  }

  &__image {
    margin: 24px auto;
    width: calc(100% - 16px);
    height: 128px;
    border: 1px solid #000;
  }

  &__notice {
    margin-bottom: 12px;
  }
}

.table {
  border: 1px solid #ddd;
  border-collapse: collapse;

  td {
    border: 1px solid #ddd;
    height: 40px;
  }

  &--info {
    margin-bottom: 64px;

    td {
      text-align: center;
    }

    td:nth-child(odd) {
      background: #eee;
      width: 150px;
      font-weight: bold;
    }

    td:nth-child(even) {
      width: 250px;
    }
  }

  &--recent {
    width: 100%;

    td {
      padding: 8px;
      width: calc(100% / 4);
    }
  }
  &--financial {
    width: 100%;

    th:first-child {
      height: 40px;
      border: 1px solid #ddd;
      text-align: left;
      // margin-left: 3px !important;
    }
    td {
      text-align: right;
      padding-right: 8px;
    }
  }
}

.text {
  &--center {
    text-align: center;
  }
  &--bold {
    font-weight: bold;
  }
  &--item {
    padding-left: 16px !important;
  }
}

.td--bg {
  background: #eee;
}
.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  width: 800px;
  margin: 0 auto;
}

/* 탭 스타일 */
.tab_item {
  background-color: #444;
  line-height: 32px;
  font-size: 16px;
  color: #fff;

  float: right;
  padding: 4px 8px;
  transition: all 0.2s ease;
  margin-right: 4px;
  transform: translateX(4px);
  border-radius: 4px 4px 0 0;
}
.tab_item:hover {
  opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name='tab_item'] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  // padding: 0;
  clear: both;
  overflow: hidden;
  width: 100%;
  border-top: 2px solid #ddd;
}

/* 선택 된 탭 콘텐츠를 표시 */
#recent:checked ~ #recent_content,
#financial:checked ~ #financial_content,
#evaluation:checked ~ #evaluation_content {
  display: block;
}

.tab {
  &__title,
  &__period {
    text-align: center;
  }

  &__title {
    font-size: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  &__period {
    margin-bottom: 64px;
  }

  &__unit {
    text-align: right;
    margin-bottom: 16px;
  }
}

.evaluation {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 64px;
  margin: 32px 16px;
  background: rgba(238, 238, 238, 0.5);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    width: 60%;
    text-align: center;
    font-size: 28px;
  }
  &__image {
    width: 40%;
    height: 100px;
    border: 1px solid #000;
  }

  span {
    color: red;
    font-weight: bold;
  }
}

#container {
  height: 400%;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 310px;
  max-width: 800px;
  margin: 1em auto;
}
