a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 상위 요소의 텍스트 색상을 상속 */
}
.sms-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1000; /* 모달이 다른 요소 위에 올라오도록 z-index를 높게 설정 */
}

.sms-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  width: 40%; /* 너비 조절 */
  border-radius: 8px; /* 모서리 둥글게 */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
}

.sms-modal-close {
  float: right;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}

.sms-modal h2 {
  margin-top: 0;
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.sms-modal p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}
.sms-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sms-modal-header h2 {
  margin: 0;
  flex-grow: 1;
  font-size: 22px;
  color: #333;
  padding-right: 20px; /* close 버튼과의 간격 */
}
#smsMessage {
  width: 90%;
  height: 300px; /* 텍스트 박스 높이 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical; /* 세로로만 크기 조절 가능하게 */
}
.sms-modal-body {
  padding-top: 20px;
}

.form-group {
  margin-bottom: 10px; /* 입력란과 다음 요소 간격 조절 */
}

#smsSubject {
  width: 90%; /* 입력란 전체 너비로 확장 */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.sms-modal button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.sms-modal button:hover {
  background-color: #0056b3;
}
.member-body-wrapper {
  background-color: #eaeef1;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}
.member-body-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 100%;
  min-width: 64rem;
  height: 100%;
  padding: 2rem;
}
.member-box {
  height: 90%;
  width: 100%;
  margin-top: 1rem;
}


.member-button-wrapper {
  width: 100%;
  height: 3rem;
  margin-bottom: 3.1rem;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}
.button-right {
  display: flex;
  gap: 1rem;
}
.button-style1 {
  width: 7.6rem;
  height: 2.3rem;
  border: 1.8px solid #aeaeae7d;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
}
.button-style2 {
  width: 15rem;
  height: 2.3rem;
  border: 1.8px solid #aeaeae7d;
  border-radius: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
}
.button-style2 > img {
  height: 60%;
  position: absolute;
  right: 1rem;
  filter: opacity(0.5) drop-shadow(0 0 0 #aeaeae);
}
.gray-span {
  color: #838485;
  font-size: 0.75rem;
}


.member-table-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  position: relative;
  
  justify-content: space-between;
}
.member-table-wrapper > div:first-of-type {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.member-table-top {
  width: 100%;
  background-color: #f4f4f4;
}
.member-table-top > div {
  margin-left: 0 !important;
}
.member-single-row {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  box-sizing: border-box;
  height: 3rem;
  border-bottom: 1px solid #aaaaaa8a;
  color: #515151;
  font-weight: 500;
}
.member-single-row > div {
  margin-left: 0.2rem;
}
.member-single-row > div > img {
  height: 0.7rem;
  filter: opacity(0.5) drop-shadow(0 0 0 #aeaeae);
}
.member-single-row > div:first-of-type {
  width: 10%;
  justify-content: center;
}
.member-single-row > div:nth-of-type(2){
  width: 10%;
}
.member-single-row > div:nth-of-type(3){
  width: 20%;
}
.member-single-row > div:nth-of-type(4){
  width: 25%;
}
.member-single-row > div:nth-of-type(5){
  width: 7%;
  margin-left: 0.6rem;
}
.member-single-row > div:nth-of-type(6){
  width: 15%;
  margin-left: 0.8rem;
}
.member-single-row > div:nth-of-type(7){
  width: 18%;
}
.member-single-row > div:last-of-type{
  width: 18%;
  padding-left: 2rem;
}
.member-single-row > button {
  width: 5rem;
  height: 1.8rem;
  border: 1px solid #7f7f7f89;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  background-color: #f3f3f3;
}
.member-table-bottom {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 하단 페이지 네이션 부분 */
.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 20px;}

.pagination li {
  display: inline;
  text-align: center;}

 /* 숫자들에 대한 스타일 지정 */
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #4c4c4c;
  line-height: 1.5;}

.first{
  margin-right: 15px;}

.last{
  margin-left: 15px;}

.first:hover, .last:hover, .left:hover, .right:hover{
  color: #e1e1e1;}

.pagination a.active {
  cursor: default;}

.pagination a:active {
  outline: none;}

.modal .num {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 5px;}

.modal .num:hover {
  background-color: #e1e1e1;}

.modal .num.active, .modal .num:active {
  background-color: #e1e1e1;
  cursor: pointer;}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid blue; }